interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json
    method: GET
    uri: /api/v4/projects/42352
  response:
    body:
      string: '{"id": 42352, "description": null, "name": "gsf-test", "name_with_namespace":
        "dummy_path / Automation Test Sandbox / gsf-test", "path": "gsf-test", "path_with_namespace":
        "dummy_path/automation-test-sandbox/gsf-test", "created_at": "2025-03-19T11:42:52.228Z",
        "default_branch": "master", "tag_list": [], "topics": [], "ssh_url_to_repo":
        "git@gitlab.dummy.org:dummy_path/automation-test-sandbox/gsf-test.git", "http_url_to_repo":
        "https://gitlab.dummy.org/dummy_path/automation-test-sandbox/gsf-test.git",
        "web_url": "https://gitlab.dummy.org/dummy_path/automation-test-sandbox/gsf-test",
        "readme_url": "https://gitlab.dummy.org/dummy_path/automation-test-sandbox/gsf-test/-/blob/master/README.md",
        "forks_count": 0, "avatar_url": null, "star_count": 0, "last_activity_at":
        "2025-08-11T05:16:05.567Z", "namespace": {"id": 53623, "name": "Automation
        Test Sandbox", "path": "automation-test-sandbox", "kind": "group", "full_path":
        "dummy_path/automation-test-sandbox", "parent_id": 8951, "avatar_url": "/uploads/-/system/group/avatar/53623/tempFileForShare_20250206-124713.jpg",
        "web_url": "https://gitlab.dummy.org/groups/dummy_path/automation-test-sandbox"},
        "_links": {"self": "https://gitlab.dummy.org/api/v4/projects/42352", "issues":
        "https://gitlab.dummy.org/api/v4/projects/42352/issues", "merge_requests":
        "https://gitlab.dummy.org/api/v4/projects/42352/merge_requests", "repo_branches":
        "https://gitlab.dummy.org/api/v4/projects/42352/repository/branches", "labels":
        "https://gitlab.dummy.org/api/v4/projects/42352/labels", "events": "https://gitlab.dummy.org/api/v4/projects/42352/events",
        "members": "https://gitlab.dummy.org/api/v4/projects/42352/members", "cluster_agents":
        "https://gitlab.dummy.org/api/v4/projects/42352/cluster_agents"}, "code_suggestions":
        true, "packages_enabled": true, "empty_repo": false, "archived": false, "visibility":
        "internal", "resolve_outdated_diff_discussions": false, "container_expiration_policy":
        {"cadence": "1d", "enabled": false, "keep_n": 10, "older_than": "90d", "name_regex":
        ".*", "name_regex_keep": null, "next_run_at": "2025-03-20T11:42:52.250Z"},
        "issues_enabled": true, "merge_requests_enabled": true, "wiki_enabled": true,
        "jobs_enabled": true, "snippets_enabled": true, "container_registry_enabled":
        true, "service_desk_enabled": false, "service_desk_address": null, "can_create_merge_request_in":
        true, "issues_access_level": "enabled", "repository_access_level": "enabled",
        "merge_requests_access_level": "enabled", "forking_access_level": "enabled",
        "wiki_access_level": "enabled", "builds_access_level": "enabled", "snippets_access_level":
        "enabled", "pages_access_level": "private", "analytics_access_level": "enabled",
        "container_registry_access_level": "enabled", "security_and_compliance_access_level":
        "private", "releases_access_level": "enabled", "environments_access_level":
        "enabled", "feature_flags_access_level": "enabled", "infrastructure_access_level":
        "enabled", "monitor_access_level": "enabled", "model_experiments_access_level":
        "enabled", "model_registry_access_level": "enabled", "emails_disabled": false,
        "emails_enabled": true, "shared_runners_enabled": true, "lfs_enabled": true,
        "creator_id": 9055, "import_url": null, "import_type": null, "import_status":
        "none", "import_error": null, "open_issues_count": 0, "description_html":
        "", "updated_at": "2025-08-11T05:16:05.567Z", "ci_default_git_depth": 20,
        "ci_forward_deployment_enabled": true, "ci_forward_deployment_rollback_allowed":
        true, "ci_job_token_scope_enabled": false, "ci_separated_caches": true, "ci_allow_fork_pipelines_to_run_in_parent_project":
        true, "build_git_strategy": "fetch", "keep_latest_artifact": false, "restrict_user_defined_variables":
        false, "runners_token": "GR1348941zu9GyHmYp5gdY5fZsUpH", "runner_token_expiration_interval":
        null, "group_runners_enabled": true, "auto_cancel_pending_pipelines": "enabled",
        "build_timeout": 3600, "auto_devops_enabled": false, "auto_devops_deploy_strategy":
        "continuous", "ci_config_path": "", "public_jobs": true, "shared_with_groups":
        [], "only_allow_merge_if_pipeline_succeeds": false, "allow_merge_on_skipped_pipeline":
        null, "request_access_enabled": true, "only_allow_merge_if_all_discussions_are_resolved":
        false, "remove_source_branch_after_merge": true, "printing_merge_request_link_enabled":
        true, "merge_method": "merge", "squash_option": "default_off", "enforce_auth_checks_on_uploads":
        true, "suggestion_commit_message": null, "merge_commit_template": null, "squash_commit_template":
        null, "issue_branch_template": null, "autoclose_referenced_issues": true,
        "permissions": {"project_access": {"access_level": 40, "notification_level":
        3}, "group_access": {"access_level": 30, "notification_level": 3}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc2ad003ee31ce6d6161731cdbffe5a3"
      X-Gitlab-Meta:
      - '{"correlation_id":"01K349HGESGTPVFJS7TXRRKTXW","version":"1"}'
    status:
      code: 200
      message: OK
version: 1
